text {
    font-family: sans-serif;
}

.tick text {
    fill: #635F5D;
}

.tick line {
    stroke: #C0C0BB;
}

.sphere {
    fill: #2F496E;
}

.country {
    fill: #6AB187;
    stroke: #000;
    stroke-width: 0.15px;
}

.country:hover {
    fill: #FF4447;
}