text {
    font-family: sans-serif;
}

/* .tick text {
    fill: #635F5D;
}

.tick line {
    stroke: #C0C0BB;
} */

#world-map .sphere,
#choropleth-map .sphere {
    fill: #2F496E;
}

#world-map .country {
    fill: #6AB187;
    stroke: #000;
    stroke-width: 0.15px;
}

#choropleth-map .country {
    stroke: #000;
    stroke-width: 0.15px;
}

#world-map .country:hover {
    fill: #FF4447;
}

#choropleth-map .country:hover {
    opacity: .8;
}

#tree-viz path {
    fill: none;
    stroke: steelblue;
}

#tree-viz text {
    text-shadow: 
        -1px -1px 3px #FFF,
        -1px  1px 3px #FFF,
        -1px -1px 3px #FFF,
        01px  1px 3px #FFF;
    pointer-events: none;
}

.color-legend {
    opacity: 0.8;
    background-color: #FFF;
}

.color-legend circle {
    stroke: #000;
}
